


.heading {
    font-size: 26px;
    text-shadow: 4px 4px 0px #3f7fbf;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
    color: whitesmoke;
    
  }
  .heading-1:hover {
    text-shadow: 4px 4px 0px whitesmoke;
    color: #3f7fbf;
    transition: 0.5s ease;
  }
  .heading-2 {
    text-shadow: 4px 4px 0px #97855C

    ;
    color: black;
    transition: 0.5s ease;
    font-size: 26px;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  .nav-header {
    background-color: rgba(255, 255, 255, 0.733);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0 40px;
    height: 80px;
    /* position: sticky; */
    /* top: 0; */
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(161, 159, 159, 0.63);
    transition: background-color 0.5s ease;
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.15em;
    height: 100px;
  }
  
  .colorChange {
    transition: background-color 0.5s ease;
    /* background-color: rgba(70, 9, 168, 0.849); */
    background-color: rgba(245, 245, 245, 0.966);
    box-shadow: 1px 2px 5px grey;
    color: black;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo-container img{
    width: 200px;
    height: 200px;
  }
  
  .nav-options {
    /* padding-left: 25px; */
    list-style-type: none;
    /* margin-right: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 250px; */
    align-content: center;
  }
  .nav-options .link-b {
    border: 1px solid rgb(171, 115, 245);
    border-radius: 15px;
    padding: 15px;
    margin-right: 15px;
  }
  .nav-options .link-b:hover {
    background-color: slateblue;
    transition: all 0.5s ease;
  }
  .mobile-option {
    display: none;
  }
  
  .mobile-menu {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  @media (max-width: 648px) {
    /*Mobile View */
  
    .nav-options {
      display: flex;
      width: 100%;
      position: absolute; 
      top: 65px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      flex-direction: column;
      grid-gap: 0px;
      padding-top: 30px;
      padding-left: 30px;
    }
    .nav-options.active {
      /* background: #9899d1b9; */
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      align-content: center;
    }
  
    .menu-icon {
      display: block;
      margin-right: 80px;
      font-size: 26px;
      cursor: pointer;
    }
  }
  .mobile-menu {
    display: block;
  }
  
  .nav-options .link a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .nav-options .link-a a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #97855C
    ;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-options .link-a a:hover:after {
    width: 100%;
    left: 0;
  }

  